h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.title
{
	font-size: 40px;
	text-align:center;
	display:flex;
	justify-content:center;
	align-items: center;
	margin-top:40vh;
}
.buttons {
	display: flex;
	margin-top: 10px;
	align-items:center;
	justify-content:center;
	gap: 2px;
}
.links {
  display: flex;
  position: absolute;
  top: 10px;
  right: 75px;
  height: 10vh; 
  z-index:5;
}
